<section class="about" id="about-us">
  <div class="container about-container">
    <h2 class="about-title">About <span class="about-title-us">Us</span></h2>
    <div class="about-row-column">
      <div class="about-box-img">
        <picture>
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/imgDesc/aboutdesc1x.webp 1x,
              ./img/imgDesc/aboutdesc2x.webp 2x
            "
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/imgTab/abouttab1x.webp 1x,
              ./img/imgTab/abouttab2x.webp 2x
            "
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/imgMob/aboutmob1x.webp 1x,
              ./img/imgMob/aboutmob2x.webp 2x
            "
          />

          <img
            class="about-box-src"
            src="./img/imgMob/aboutmob1x.webp"
            alt="black camera and pink background"
            loading="lazy"
          />
        </picture>
      </div>

      <div class="about-box-img">
        <ul class="about-list">
          <li class="about-item">
            <div class="about-ul-li-div">
              <p class="about-p1">
                Our photography school is designed to teach you everything you
                need to know about this magical art. Regardless of your
                experience or skill level, we offer a wide range of courses to
                suit your needs and interests. Our teaching team consists of
                experienced photographers who have many years of experience in
                this field. They strive not only to share their knowledge, but
                also to inspire you to develop and express your unique
                creativity
              </p>
            </div>
          </li>

          <li class="about-item">
            <div class="about-ul-li-div">
              <p class="about-p2">
                Our courses cover a wide range of topics, from the basics of
                photography and equipment use to professional image processing
                and creating impressive compositions. You will have the
                opportunity to learn the technical aspects of photography,
                discover your own style and develop your own visual language.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
