<section class="advitrismant-section">
  <div class="container container-advirtisment">
    <link
      href="https://fonts.googleapis.com/css?family=Pridi:600"
      rel="stylesheet"
    />

    <div class="advertisment-container">
      <div class="advertisment-inner">
        <p class="advertisment-line">
          Master
          <span class="advertisment-accent">your photography</span> skills with
          us!
        </p>

        <p class="advertisment-line">
          Master
          <span class="advertisment-accent">your photography</span> skills with
          us!
        </p>
      </div>
    </div>
  </div>
</section>
