<footer class="footer" id="contacts">
  <div class="container main-container">
    <div class="footer-container">
      <div class="footer-all">
        <div class="footer-logo-tel-box">
          <div class="footer-logo">
            <a href="../index.html">
              <svg width="127" height="20">
                <use href="./public/favicon.svg#icon-logo" fill="white"></use>
              </svg>
            </a>
          </div>
          <div class="footer-contacts">
            <ul class="footer-contacts-list">
              <li class="footer-contacts-tel">
                <a href="UA:+380665438912">UA: +38 066 543 8912</a>
              </li>
              <li>Ukraine, Kyiv</li>
            </ul>
          </div>
        </div>
        <div class="footer-social-navigation">
          <ul class="footer-social-list">
            <li class="footer-social-link">
              <a href="https://www.instagram.com/goitclub/" target="_blank">instagram</a>
            </li>
            <li class="footer-social-link">
              <a href="https://www.facebook.com/goITclub/" target="_blank">facebook</a>
            </li>
            <li class="footer-social-link">
              <a href="https://www.youtube.com/c/GoIT" target="_blank">youtube</a>
            </li>
          </ul>
          <ul class="footer-navigation-list">
            <li class="footer-social-link"><a href="#about-us">About us</a></li>
            <li class="footer-social-link">
              <a href="#our-courses">Our courses</a>
            </li>
            <li class="footer-social-link">
              <a href="#our-mentors">Our mentors</a>
            </li>
            <li class="footer-social-link"><a href="#reviews">Reviews</a></li>
            <li class="footer-social-link"><a href="#contacts">contacts</a></li>
          </ul>
        </div>

        <div>
          <form class="footer-form-email" action="#" method="post">
            <input class="footer-input-email" type="email" id="email" name="email" required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="Enter your email"
              aria-label="Email" />
            <button class="footer-btn-form-email" type="submit">Go</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-privacy-list">
      <p class="footer-privaci-text">
        Privacy Policy <br />Public Offering Agreement
      </p>
      <p>2023 Focus Frame <br />© All rights reserved</p>
    </div>
  </div>
</footer>