<div class="backdrop">
  <div class="header-menu">
    <button class="menu-btn" type="button" id="menu-btn-close">
      <svg class="menu-btn-icon" width="40" height="40">
        <use href="./public/favicon.svg#icon-x"></use>
      </svg>
    </button>
    <ul class="header-menu-list">
      <li class="menu-list-item">
        <a
          class="menu-link"
          aria-label="anchor link to section about us"
          href="#about-us"
          >About us</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="nav-link"
          aria-label="anchor link to section our courses"
          href="#our-courses"
          >Our courses</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-link"
          aria-label="anchor link to section our mentors"
          href="#our-mentors"
          >Our mentors</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-link"
          aria-label="anchor link to section reviews"
          href="#reviews"
          >Reviews</a
        >
      </li>
      <li class="menu-list-item">
        <a
          class="menu-link"
          aria-label="anchor link to contacs"
          href="#contacts"
          >contacts</a
        >
      </li>
    </ul>
    <div class="menu-bgr"></div>
  </div>
</div>
