<header class="header-main">
  <div class="container header-container">
    <nav class="nav-menu">
      <a class="logo-main" href="./index.html" aria-label="link home page">
        <svg class="icon-logo" width="127" height="20">
          <use href="./public/favicon.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="nav-list-item">
          <a
            class="nav-link"
            aria-label="anchor link to section about us"
            href="#about-us"
            >About us</a
          >
        </li>
        <li class="nav-list-item">
          <a
            class="nav-link"
            aria-label="anchor link to section our courses"
            href="#our-courses"
            >Our courses</a
          >
        </li>
        <li class="nav-list-item">
          <a
            class="nav-link"
            aria-label="anchor link to section our mentors"
            href="#our-mentors"
            >Our mentors</a
          >
        </li>
        <li class="nav-list-item">
          <a
            class="nav-link"
            aria-label="anchor link to section reviews"
            href="#reviews"
            >Reviews</a
          >
        </li>
        <li class="nav-list-item">
          <a
            class="nav-link"
            aria-label="anchor link to contacs"
            href="#contacts"
            >contacts</a
          >
        </li>
      </ul>
      <div class="header-box">
        <a
          class="camera-link"
          href="#sign-up"
          aria-label="anchor link to sign up"
        >
          <svg class="camera-icon" width="16" height="16">
            <use href="./public/favicon.svg#icon-camera"></use>
          </svg>
        </a>
        <button
          class="header-btn"
          type="button"
          id="header-btn-menu"
          aria-label="header menu button"
        >
          <svg class="header-btn-icon" width="40" height="28">
            <use href="./public/favicon.svg#icon-nav"></use>
          </svg>
        </button>
      </div>
    </nav>
    <a
      class="header-link"
      aria-label="anchor link to section sign up"
      href="#sign-up"
      >Sign up
    </a>
  </div>
</header>
