<section class="hero-section">
  <div class="container container-hero">
    <div class="wrapper-bg">
      <!-- <div class="hero-section-title"> -->
      <div class="wrapper-title">
        <h1>
          Discover the magic of <span class="photography">photography</span> in
          our school
        </h1>
        <p class="hero-section-title-info">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="students-and-star">
          <div class="students-section">
            <ul class="students-list">
              <li class="students-item">
                <picture>
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/imgDesc/girldesc1descdesc1x.webp 1x,
                      ./img/imgDesc/girldesc1descdesc2x.webp 2x
                    "
                  />
                  <!-- Tablet screen -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/imgDesc/girldesc1descdesc1x.webp 1x,
                      ./img/imgDesc/girldesc1descdesc2x.webp 2x
                    "
                  />
                  <!-- Mobile screen -->
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/imgMob/girlmob1mobmob1x.webp 1x,
                      ./img/imgMob/girlmob1mobmob2x.webp 2x
                    "
                  />
                  <img
                    class="students-img"
                    src="./img/imgMob/girlmob1mobmob1x.webp"
                    alt="blond girl"
                    width="54"
                    height="54"
                  />
                </picture>
              </li>
              <li class="students-item">
                <picture>
                  <!-- Desctop screen -->
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/imgDesc/boydesc1x.webp 1x,
                      ./img/imgDesc/boydesc1x.webp 2x
                    "
                  />
                  <!-- Tablet screen -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/imgDesc/boydesc1x.webp 1x,
                      ./img/imgDesc/boydesc1x.webp 2x
                    "
                  />
                  <!-- Mobile screen -->
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/imgMob/boymob1x.webp 1x,
                      ./img/imgMob/boymob2x.webp 2x
                    "
                  />
                  <img
                    class="students-img"
                    src="./img/imgMob/boymob1x.webp"
                    alt="man"
                    width="54"
                    height="54"
                  />
                </picture>
              </li>
              <li class="students-item">
                <picture>
                  <!-- Desctop screen -->
                  <source
                    media="(min-width: 1280px)"
                    srcset="
                      ./img/imgDesc/girldesc1x.webp 1x,
                      ./img/imgDesc/girldesc2x.webp 2x
                    "
                  />
                  <!-- Tablet screen -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./img/imgDesc/girldesc1x.webp 1x,
                      ./img/imgDesc/girldesc2x.webp 2x
                    "
                  />
                  <!-- Mobile screen -->
                  <source
                    media="(max-width: 767px)"
                    srcset="
                      ./img/imgMob/girlmob1x.webp 1x,
                      ./img/imgMob/girlmob2x.webp 2x
                    "
                  />
                  <img
                    class="students-img"
                    src="./img/imgMob/girlmob1x.webp"
                    alt="girl"
                    width="54"
                    height="54"
                  />
                </picture>
              </li>
            </ul>

            <a href="">
              <div class="students-arrow">
                <p class="students-text">Our happy students</p>
                <svg class="hero-arrow-icon" width="18" height="8.66">
                  <use href="./public/favicon.svg#icon-rigth-arrow"></use>
                </svg>
              </div>
            </a>
          </div>

          <div class="star-section">
            <a class="hero-star-link" href="" aria-label="link to more rewiews">
              <svg class="hero-star" width="20" height="20">
                <use href="./public/favicon.svg#icon-star"></use>
              </svg>
            </a>
            <div class="star-numb">
              <span class="hero-rev">Reviews</span>
              <span class="hero-numb">+1500</span>
            </div>
          </div>
        </div>
      </div>

      <div class="img-hero">
        <picture class="pct">
          <!-- Desktop screen -->
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/imgDesc/heriImgdesc1x.webp 1x,
              ./img/imgDesc/heriImgdesc2x.webp 2x
            "
          />

          <!-- Tablet screen -->
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/imgDesc/heriImgdesc1x.webp 1x,
              ./img/imgDesc/heriImgdesc2x.webp 2x
            "
          />

          <!-- Mobile screen -->
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/imgMob/heroImgmob1x.webp 1x,
              ./img/imgMob/heroImgmob2x.webp 2x
            "
          />

          <img
            class="hero-box-src"
            src="./img/imgMob/heroImgmob1x.webp"
            alt="black camera and pink background"
            loading="lazy"
            width="347"
            height="520"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
