<section class="ourmentors section" id="our-mentors">
  <div class="container ourmentors-container">
    <h2 class="ourmentors-title">
      Our <span class="ourmentors-title-accent">Mentors</span>
    </h2>
    <ul class="ourmentors-list">
      <li class="ourmentors-item">
        <img
          class="ourmentors-pict"
          srcset="
            ./img/mentors/girl1_mob@1x.png 1x,
            ./img/mentors/girl1_mob@2x.png 2x
          "
          src="./img/mentors/girl1_mob@1x.png"
          alt="Emilia Smith"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="ourmentors-content">
          <h3 class="ourmentors-name">Emilia Smith</h3>
          <p class="ourmentors-desc">1.5 years of experience</p>
        </div>
      </li>

      <li class="ourmentors-item">
        <img
          class="ourmentors-pict"
          srcset="
            ./img/mentors/boy1_mob@1x.png 1x,
            ./img/mentors/boy1_mob@2x.png 2x
          "
          src="./img/mentors/boy1_mob@1x.png"
          alt="Alex Lebedev"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="ourmentors-content">
          <h3 class="ourmentors-name">Alex Lebedev</h3>
          <p class="ourmentors-desc">3.5 years of experience</p>
        </div>
      </li>

      <li class="ourmentors-item section-mia">
        <img
          class="ourmentors-pict"
          srcset="
            ./img/mentors/girl2_mob@1x.png 1x,
            ./img/mentors/girl2_mob@2x.png 2x
          "
          src="./img/mentors/girl2_mob@1x.png"
          alt="Mia Dubrovska"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="ourmentors-content">
          <h3 class="ourmentors-name">Mia&nbsp;Dubrovska</h3>
          <p class="ourmentors-desc">2.0 years of experience</p>
        </div>
      </li>
      <li class="ourmentors-item">
        <img
          class="ourmentors-pict"
          srcset="
            ./img/mentors/boy2_mob@1x.png 1x,
            ./img/mentors/boy2_mob@2x.png 2x
          "
          src="./img/mentors/boy2_mob@1x.png"
          alt="Eliot Kovalev"
          width="180"
          height="180"
          loading="lazy"
        />
        <div class="ourmentors-content">
          <h3 class="ourmentors-name">Eliot Kovalev</h3>
          <p class="ourmentors-desc">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
