<section class="courses" id="our-courses">
  <div class="container">
    <div class="courses-title-container">
      <h2 class="courses-first-title">
        Our <span class="courses-title-accent">Courses</span>
      </h2>
      <p class="courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="courses-list">
      <li class="courses-item">
        <a
          href="#sign-up"
          class="courses-link one"
          aria-label="transition to sing up"
        >
          <svg class="courses-icon" width="20" height="20">
            <use href="./public/favicon.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
        <div class="courses-card">
          <h3 class="courses-second-title">
            Basics of<br />
            photography
          </h3>
          <p class="courses-list-text">
            During this course, you will be able to familiarize yourself with
            different types of cameras, learn the basics of composition.
          </p>
        </div>
      </li>

      <li class="courses-item">
        <a
          href="#sign-up"
          class="courses-link two"
          aria-label="transition to sing up"
        >
          <svg class="courses-icon" width="20" height="20">
            <use href="./public/favicon.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
        <div class="courses-card">
          <h3 class="courses-second-title">
            Landscape<br />
            photography
          </h3>
          <p class="courses-list-text card-text">
            In this course, you'll learn how to choose the right angles, frame
            landscapes, and create depth and perspective in your images.
          </p>
        </div>
      </li>
      <li class="courses-item">
        <a
          href="#sign-up"
          class="courses-link three"
          aria-label="transition to sing up"
        >
          <svg class="courses-icon" width="20" height="20">
            <use href="./public/favicon.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
        <div class="courses-card">
          <h3 class="courses-second-title">
            Portrait<br />
            photography
          </h3>
          <p class="courses-list-text">
            During this course, you will learn to choose the right lighting,
            reproduce the mood and expressions on the faces of the models.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
