<section class="reviews-section" id="reviews">
  <div class="container rev-container">
    <h2 class="title">Reviews</h2>
    <div class="rev-menu">
      <ul class="rev-list">
        <li class="rev-item">
          <div class="rev-item-box">
            <div class="rev-full-box-user">
              <div class="rev-box-user">
                <img
                  class="rev-photo"
                  srcset="
                    ./img/imgDesc/AbrahamBakerdesc1x.webp 1x,
                    ./img/imgDesc/AbrahamBakerdesc2x.webp 2x
                  "
                  src="./img/imgDesc/AbrahamBakerdesc1x.webp"
                  alt="Abraham Baker's photo"
                  width="56"
                  height="56"
                  loading="lazy"
                />
                <div class="rev-user-info">
                  <p class="rev-name">Abraham Baker</p>
                  <p class="rev-position">Student</p>
                </div>
              </div>
              <div class="rev-box-icon">
                <ul class="rev-icon-list">
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon last-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <p class="rev-text">
              I am very pleased that I decided to enroll in photography school.
              The teachers turned out to be very talented and experienced
              professionals who share their knowledge and are dedicated to their
              work. I was able to expand my skills and discover my own style.
            </p>
          </div>
        </li>
        <li class="rev-item">
          <div class="rev-item-box">
            <div class="rev-full-box-user">
              <div class="rev-box-user">
                <img
                  class="rev-photo"
                  srcset="
                    ./img/imgDesc/amandalowerydesc1x.webp 1x,
                    ./img/imgDesc/amandalowerydesc2x.webp 2x
                  "
                  src="./img/imgDesc/amandalowerydesc1x.webp"
                  alt="Amanda Lowery's photo"
                  width="56"
                  height="56"
                  loading="lazy"
                />
                <div class="rev-user-info">
                  <p class="rev-name">Amanda Lowery</p>
                  <p class="rev-position">Student</p>
                </div>
              </div>
              <div class="rev-box-icon">
                <ul class="rev-icon-list">
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                  <li class="rev-icon-item">
                    <svg class="rev-icon last-icon">
                      <use href="./public/favicon.svg#icon-star"></use>
                    </svg>
                  </li>
                </ul>
              </div>
            </div>
            <p class="rev-text">
              The courses at the photography school exceeded all my
              expectations. I gained not only technical knowledge, but also
              inspiration and motivation to reach new heights in my creativity.
              Hands-on classes and workshops helped me understand different
              styles of photography.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
