.courses {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .courses  {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .courses  {
    padding-bottom: 150px;
  }
}
.courses-title-container {
  display: flex;
  margin-bottom: 40px;
}
@media only screen and (max-width: 767.98px) {
  .courses-title-container {
    flex-direction: column;
    gap: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .courses-title-container {
    margin-bottom: 50px;
  }
}
.courses-first-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .courses-first-title {
    font-size: 48px;
    line-height: 1.12;
    margin-right: auto;
  }
}
.courses-title-accent {
  color: #bea69e;
}
.courses-text {
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .courses-text {
    font-size: 16px;
    line-height: 1.25;
    width: 381px;
  }
}
@media only screen and (min-width: 1280px) {
  .courses-text {
    width: 405px;
  }
}
.courses-list {
  display: flex;
  gap: 20px;
}
@media only screen and (max-width: 767.98px) {
  .courses-list {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .courses-list {
    flex-wrap: wrap;
  }
}
.courses-item {
  position: relative;
  padding: 28px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  
}
@media only screen and (min-width: 768px) {
  .courses-item {
    padding: 32px;
    width: calc((100% - 20px * 1) / 2);
  }
}
@media only screen and (min-width: 1280px) {
  .courses-item {
    width: calc((100% - 20px * 2) / 3);
  }
}
.courses-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background-color: #1d1d1d;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.courses-link:hover,
.courses-link:focus {
  background-color: #BEA69E;
}
.courses-link:hover .courses-icon,
.courses-link:focus .courses-icon {
  stroke: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  .courses-link {
    margin-bottom: 32px;
  }
}

.courses-icon {
  stroke: #777777;
}

.courses-link.one::before,
.courses-link.two::before,
.courses-link.three::before {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 14px;
  height: 18px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  pointer-events: none;
}
.courses-link.one::before {
    content: '01';
}
.courses-link.two::before {
    content: '02';
}
.courses-link.three::before {
    content: '03';
}
@media only screen and (min-width: 768px) {
  .courses-link.one::before,
  .courses-link.two::before,
  .courses-link.three::before {
    top: 32px;
    left: 32px;
  }
}
.courses-second-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 164px;
}
@media only screen and (min-width: 768px) {
  .courses-second-title {
    margin-bottom: 180px;
  }
}
.courses-list-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .courses-list-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media only screen and (min-width: 1280px) {
  .card-text {
    word-spacing: -0.03em
  }
}
